<!doctype html>
<html>
    <head>
        <title>Bloggidy</title>
        <style>
            .error {
                color: red;
            }
        </style>
        <nav>
            <a href="/">home</a> |
            <a href="/blog">main blog page </a> |  
            <a href="/newpost">add new blog </a> |
            <a href="/signup">sign up</a> |
            <a href="/login">log in</a> |
            <a href="/logout">log out</a> 
        </nav>
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>