<!doctype html>
<html>
    <head>
        <title>Bloggidy</title>
        <style>
            .error {
                color: red;
            }
        </style>
        <nav>
            <a href="/login">log in</a> |  
            <a href="/signup">sign up</a> |
            <a href="/blog">main blog page </a> |  
            <a href="/newpost">add new blog </a> 
        </nav>
    </head>
<body>

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul> 
        {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}


    {% block content %}
    {% endblock %}

</body>
</html>