{% extends "base.html" %}

{% block content %}
    <h1>Create a New Blog Post</h1>
    <form method='post'>
        <label>
            Blog Title:
            <input type="text" name='title' />
        </label>
        <label>
            Blog Body:
            <input type="text" name='body' />
        </label>
        <input type="submit" value='Add Your Post' />
    </form>
    <hr />

    {% if body|length == 0 %}
    <p>No posts yet</p>
    {% else %}

    {% endif %}

    <hr />
    <h2>Previous Blog Posts</h2>
    <ul>
        {% for item in previous_items %}
        <li>{{item.title}}</li>
        {% endfor %}
    </ul>

{% endblock %}