{% extends "base.html" %}

{% block content %}

    <h1>Create a New Blog Post</h1>
    <form method='post' action="/newpost" style="display:inline-block;"> <br>
        <label>
            Blog Title:
            <input type="text" name='title' value='{{title}}' />
            <p class="error">{{title_error}}</p>
        </label> <br><br>
        <label>
            Blog Body:
            <textarea name="body" value='{{body}}'></textarea> 
            <p class="error">{{body_error}}</p>
            <br><br>
        </label>
        <input type="submit" value='Add Your Post' />
    </form>
    <hr />

{% endblock %}