{% extends "base.html" %}

{% block content %}

    <h1>Create a New Blog Post</h1>
    <form method='post' action="/newpost" style="display:inline-block;"> <br>
        <label>
            Blog Title:
            <input type="text" name='title' />
            <p class="error">{{title_error}}</p>
        </label> <br><br>
        <label>
            Blog Body:
            <textarea name="body"></textarea> 
            <p class="error">{{body_error}}</p>
            <br><br>
        </label>
        <input type="submit" value='Add Your Post' />
    </form>
    <hr />

    {% if blog_entries|length == 0 %}
    <p>Nothing posted yet</p>
    {% else %}

    <h1>Previous Blog Posts</h1>
    <ul>
        {% for item in blog_entries %}
        <h3>{{item.title}}</h3>
        {{item.body}}<br><br>
        {% endfor %}
    </ul>

    {% endif %}

{% endblock %}