{% extends "base.html" %}

{% block content %}

    <h1>Create a New Blog Post</h1>
    <form method='post' action="/post_entry" style="display:inline-block;"> <br>
        <label>
            Blog Title:
            <input type="text" name='title' />
        </label> <br><br>
        <label>
            Blog Body:
            <textarea name="body">Write your blog.</textarea> <br><br>
        </label>
        <input type="submit" value='Add Your Post' />
    </form>
    <hr />

    {% if entries|length == 0 %}
    <p>Nothing posted yet</p>
    {% else %}

    {% endif %}

{% endblock %}