{% extends "base.html" %}

{% block content %}
    <h1>Create a New Blog Post</h1>
    <form method='post' action="/post_entry" style="display:inline-block;">
        <label>
            Blog Title:
            <input type="text" name='title' />
        </label>
            Author
            <input type="text" name='username' value="Written by {{username}}" />
        </label>
        <label>
            Blog Body:
            <input type="text" name='body' />
        </label>
        <input type="submit" value='Add Your Post' />
    </form>
    <hr />

    {% if entries|length == 0 %}
    <p>Nothing posted yet</p>
    {% else %}

    {% endif %}

    <hr />
    <h2>Previous Blog Posts</h2>
    <ul>
        {% for item in previous_entries %}
        <li>{{item.title}}</li>
        {% endfor %}
    </ul>

{% endblock %}